<!DOCTYPE html>
<!-- based off of login.html document provided by dr works -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Screen</title>
</head>
<body>
<form action="/login" method="POST">
        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

<h1>Login</h1>
<input type="text"  value="" placeholder="username" name="username"> <br />
<label  for="login-name"></label>
<input type="password"  value="" placeholder="password" name="password">  <br />
<input type="submit" value="Log in">

<h1>New User?</h1>
<h2><a href="/createAccount">Create Account</a></h2>

</form>
</body>
</html>