<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true" style="margin: 0px;">
  {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
    {% endwith %}

{% if session['logged_in'] %}
	{% if session['admin'] == 2 or session['admin'] == 3 %}
	  <script>
			// Function to fetch the unique library names and populate the dropdown
			async function loadLibraryDropdown() {
				try {
					const response = await fetch('/libraryList');
					const libraries = await response.json();
					const dropdowns = document.querySelectorAll('.libraryDropdown');

					dropdowns.forEach(dropdown => {
						dropdown.innerHTML = '<option value="">Select...</option>'; // Reset options
						libraries.forEach(library => {
							const option = document.createElement('option');
							option.value = library;
							option.textContent = library;
							dropdown.appendChild(option);
                });
            });
				} catch (error) {
					console.error("Error fetching libraries:", error);
				}
			}
			function changeDisplay() {
				const action = document.getElementById("action").value;
				const addContent = document.getElementById("addContent");
				const removeContent = document.getElementById("removeContent");

				// Hide both contents by default, needs to be here to prevent persistance of options
				addContent.style.display = "none";
				removeContent.style.display = "none";

				// Show the relevant content based on the selection
				if (action === "add") {
					addContent.style.display = "block";
				} else if (action === "remove") {
					removeContent.style.display = "block";
				
				}
			}
			// Load change display function when page is first opened
			window.onload = changeDisplay;
			//window.onload = loadLibraryDropdown; - removed and added to admin 3 only
			
		</script>

		<h1> Update inventory
		{% if session['admin'] == 2 %}
		for {{UserInventoryLibrary}}
		{% endif %}
		</h1>

		<label for="action">Choose an action:</label>
		<select id="action" onchange="changeDisplay()">
			<option value="">Select...</option>
			<option value="add">Add book to inventory</option>
			<option value="remove">Remove book from inventory</option>
		</select>
		<script>loadLibraryDropdown();</script>
		<div id="addContent" class="content">
			<h3>Add Item</h3>
			<form action="{{ url_for('enterNew') }}"  method="POST">
		
			<input type="hidden" name="AddBook" value=1>
			
			{% if session['admin'] == 3 %}
		    
			Select Library to update inventory:
			<label for="libraryDropdown"></label>
			<select class="libraryDropdown"name = "selectedLibrary">
				<option value="">Select...</option>
			</select>

			<br><br>
			{% endif %}

			 Book Title<br>
			 <input type="text" name="AddBookTitle" ><br><br>

			 Book Author<br>
			 <input type="text" name="AddBookAuthor" ><br><br>

			 Book Publisher<br>
			 <input type="text" name="AddBookPublisher" ><br><br>
			 
			 ISBN13<br>
			 <input type="text" name="AddBookISBN"><br><br>
			 
			 Description<br>
			 <input type ="text" name="AddBookDescription"><br><br>

			 Genre<br>
			 <input type ="text" name="AddBookGenre"><br><br>

			 Dewey Decimal<br>
			 <input type ="text" name="AddBookDeweyDecimal"><br><br>
			 <input type="submit" value="Submit">
			 </form>
		</div>

		<div id="removeContent" class="content">
			<h3>Remove Item</h3>
			<form action="{{ url_for('enterNew') }}"  method="POST">

			<input type="hidden" name="RemoveBook" value=1>
			
			{% if session['admin'] == 3 %}
		
			Select Library to update inventory:
			<label for="libraryDropdown"></label>
			<select class="libraryDropdown"name = "selectedLibrary">
				<option value="">Select...</option>
			</select>

			<br><br>
			{% endif %}
			
			 Book Title<br>
			 <input type="text" name="RemoveBookTitle" ><br><br>

			 Book Author<br>
			 <input type="text" name="RemoveBookAuthor" ><br><br>

			 Book Publisher<br>
			 <input type="text" name="RemoveBookPublisher" ><br><br>
			 
			 ISBN13<br>
			 <input type="text" name="RemoveBookISBN"><br><br>
			 <input type="submit" value="Submit">
			 </form>
		</div>

		<!--<script>
			

			// this is no longer needed once change display was called onload
			// Ensure the content sections are hidden on page load and load the dropdown
			//document.addEventListener("DOMContentLoaded", function () {
			// Hide both content sections on page load
			//document.getElementById("addContent").style.display = "none";
			//document.getElementById("removeContent").style.display = "none";
        


			// Ensure the content remains hidden on page load
			//changeDisplay();
    );
		</script>-->
	
	{% endif %}
	<a href="/"><h3>Go back to home page</h3></a>

{% endif %}


      
   

</body></html>