{% extends "base.html" %}
<!-- based off of home.html document provided by dr works
     Update by Isaias 11/8/2024: based off of a new base.html from which this one extends,
     just to apply the footer and the fonts without bloating each template. -->
{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='LitManagerLogo.svg') }}" alt="Logo">
</div>
<!-- adding logo to home -->

<div id="particles-js"></div>
<!-- references the particles effect, added by Isaias on 11/8/2024 -->

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if session['logged_in'] %}
    <h1 class="fira-sans-thin">Welcome {{ name }}, your Local Library is <i>'{{ UserLocalLibrary }}'</i></h1>
    <h2><a href="/showUser">Show Library User</a></h2>
    <h2><a href="/changeLibrary">Change Local Library</a></h2>
    <h2><a href="/loans">View Your Borrowed Materials</a></h2>
    <h2><a href="/search">Search for and Check Out Materials</a></h2>
    {% if session['admin'] == 2 %}
        <h2><a href="/enterNew">Add/remove material to/from inventory</a></h2>
        <h2><a href="/list">View loaned and check in material by {{ UserLocalLibrary }}</a></h2>
    {% endif %}
    {% if session['admin'] == 3 %}
        <h2><a href="/enterNew">Add/remove material to/from inventory</a></h2>
        <h2><a href="/list">View loaned and check in material by all Libraries in network</a></h2>
        <h2><a href="/showLibs">Add/Remove library to/from network</a></h2>
        <!--Link redirecting to the request list page. Only level 3 users can see this-->
        <!--Minor change by Pablo-->
        <h2><a href="/requestList">Manage users' security level upgrade requests</a></h2>
    {% endif %}
    <h2><a href="/logout">Log out</a></h2>
    <!--Change by Isaias (11/7/2024): Added font styling [Fira sans]
        --- (11/8/2024): Moved the default font styling to style.css instead of in the header
        -->

{% endif %}

<!-- a href = anchor, creates link to route in quotes. both /enternew and /list
have routes defined in newHospitalUsers program, which route to corresponding htmls -->

{% endblock %}
