<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>List of Libraries</title>
</head>

<body data-gr-c-s-loaded="true" style="margin: 0px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if session['logged_in'] and session['admin'] >= 3 %}
        <h1>LitManager Network Libraries</h1>

        <a href="/"><h3>Go back to home page</h3></a>
    {% endif %}

</body>

</html>