{% extends "base.html" %}
<!-- Updated by Isaias to use base.html structure and styling -->

{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='LitManagerLogo.svg') }}" alt="Logo">
</div>

<div id="particles-js"></div>

<!-- Content Section -->
<div class="content-center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if session['logged_in'] and session['admin'] >= 3 %}
        <h1 class="fira-sans-thin">LitManager Network Libraries</h1>
        {% for index, row in rows.iterrows() %}
            <details class="library-details">
                <summary class="fira-sans-bold">{{ row["libraryName"] }} (ID: {{ row["libraryID"] }})</summary>
                <ul class="fira-sans-regular">
                    <li>Address: {{ row["libraryAddress"] }}</li>
                    <li>City: {{ row["libraryCity"] }}</li>
                    <li>State: {{ row["libraryState"] }}</li>
                    <li>Zip Code: {{ row["libraryZip"] }}</li>
                    <li>
                        <a href="/deleteLib?libID={{ row['libraryID'] }}" class="fsu-gold-link">Remove library from network</a>
                    </li>

                </ul>
            </details>
        {% endfor %}

        <div class="action-links">
            <h2><a href="/addLibForm">Add library to network</a></h2>
        <h2><a href="/">Go back to home page</a></h2>
        </div>
    {% endif %}
</div>
{% endblock %}
