{% extends "base.html" %}
<!-- Updated by Isaias 11/12/2024 to follow home.html structure with particles and consistent logo -->

{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='LitManagerLogo.svg') }}" alt="Logo">
</div>

<div id="particles-js"></div>

<!-- Center-align the main content -->
<div class="content-center">
    <!-- Display flashed messages, if any -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Display user information if logged in -->
    {% if session['logged_in'] %}
        <h1 class="fira-sans-thin">Library User Information</h1>
        <table class="fira-sans-regular" style="font-size: 20px;">
            <tr>
                <td><b>Name:</b>&nbsp;&nbsp;{{ row.iat[0,0] }} {{ row.iat[0,1] }}</td>
            </tr>
            <tr>
                <td><b>Phone Number:</b>&nbsp;&nbsp;{{ row.iat[0,2] }}</td>
            </tr>
            <tr>
                <td><b>Address:</b>&nbsp;&nbsp;{{ row.iat[0,3] }}</td>
            </tr>
            <tr>
                <td><b>Local Library:</b>&nbsp;&nbsp;{{ row.iat[0,4] }}</td>
            </tr>
            <tr>
                <td>
                    <b>Security Role Level:</b>&nbsp;&nbsp;{{ row.iat[0,5] }}
                    <!-- Little code snippet added so users below level 3 can request to upgrade their security level -->
                    <!-- However, they can only make a request if they haven't done so already -->
                    <!-- Minor change by Pablo -->
                    {% if session['admin'] < 3 and not requestExists %}
                    (<a href="/request">Request Security Level Upgrade</a>)
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>Login Password:</b>&nbsp;&nbsp;{{ row.iat[0,6] }}</td>
            </tr>
        </table>
        <h2><a href="/">Go back to home page</a></h2>
    {% endif %}
</div>

<!-- a href = anchor, creates link to route in quotes. both /enternew and /list
     have routes defined in newHospitalUsers program, which route to corresponding htmls -->
{% endblock %}
