<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Security Upgrade Requests</title>
</head>

<body data-gr-c-s-loaded="true" style="margin: 0px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!--Displays every user's request as expanding lists-->
    {% if session['logged_in'] and session['admin'] >= 3 %}
        <h1>Security Level Upgrade Requests</h1>
        {% for index, row in rows.iterrows() %}
            <details>
                <summary>{{row["UserName"]}} (ID: {{row["UserLogon"]}})</summary>
                <ul>
                    <li>Request ID: {{row["RequestId"]}}</li>
                    <li>Current Security Level: {{row["CurrentLevel"]}}</li>
                    <li>Desired Security Level: {{row["DesiredLevel"]}}</li>
                    <li>Date of Request: {{row["DateOfRequest"]}}</li>
                    <li>Reason for Upgrade: {{row["Reason"]}}</li>
                    <li>Experience managing inventories: {{row["InvExperience"]}}</li>
                    <li>Experience managing library networks: {{row["NetExperience"]}}</li>
                    <li>Tasks user will handle: {{row["Tasks"]}}</li>
                    <li>
                        <a href="/upgrade?id={{row['UserLogon']}}&level={{row['DesiredLevel']}}&reqID={{row['RequestId']}}&accept=True">Accept</a>
                        <a href="/upgrade?id={{row['UserLogon']}}&level={{row['DesiredLevel']}}&reqID={{row['RequestId']}}&accept=False">Reject</a>
                    </li>
                </ul>
            </details>
        {% endfor %}

        <a href="/"><h3>Go back to home page</h3></a>
    {% endif %}
</body>

</html>